.wrapper {
}

.title {
}

.list-item {
}

.item-user {
    display: flex;
    list-style: none;
    margin: 12px 0;
}

.user-container {
    display: flex;
    margin: 0 8px;
}

.user-image {
    display: block;
    margin: auto;
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 999px;
    overflow: hidden;
}

.list-user {
    margin: 0 12px;
}

.user-info {
    display: block;
    justify-content: center;
    align-items: center;
    text-decoration: underline;

    &:hover {
        cursor: pointer;
    }
}

.info {
    font-weight: 600;
    text-decoration: none;
}
