.wrapper {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 736px;
    background: radial-gradient(
        101.61% 101.61% at 50% -1.61%,
        #e0f7fa 7.04%,
        rgba(178, 235, 242, 0.893007) 18.9%,
        rgba(128, 222, 234, 0.784618) 31.21%,
        rgba(77, 208, 225, 0.651329) 40.29%,
        rgba(38, 198, 218, 0.554658) 51.86%,
        rgba(0, 188, 212, 0.44334) 62.26%,
        rgba(0, 172, 193, 0.334952) 73.68%,
        rgba(0, 151, 167, 0.235351) 80.71%,
        rgba(0, 131, 143, 0.0991331) 90.09%,
        rgba(0, 96, 100, 0) 96.97%
    );
}

.container-list-title {
    display: block;
    margin: auto;
    border-bottom: 1px solid #ccc;
}

.list-title {
    display: flex;
}

.title-item {
    position: relative;
    margin: 2px 2px;
    padding: 8px 12px;

    &:hover {
        cursor: pointer;
        background-color: rgba(138, 224, 235, 0.4);
    }

    &:active {
        background-color: rgba(138, 224, 235, 1);
    }

    &::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        width: 80%;
        height: 2px;
        background-color: rgba(138, 224, 235, 1);
    }
}

.container-list-content {
}

.list-content {
}

.content-item {
}
