.container-form-item {
    display: block;
    position: relative;
}

.form-item {
    display: block;
    margin-bottom: 40px;
    font-weight: 600;
}

.item-input {
    font-weight: 500;
}

//error
.error {
    position: absolute;
    top: 120%;
    left: 34%;
    font-size: 14px;
    font-weight: 600;
    color: red;
}
